<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Pracownik</title>
</head>
<body>
<div>
    <div th:object="${personnel}">
        <p th:text="*{id}"></p>
        <p th:text="*{firstName}"></p>
        <p th:text="*{lastName}"></p>
        <p th:text="*{position}"></p>
        <p th:text="*{hireDate}"></p>
        <p th:text="*{salary}"></p>
        <p th:text="*{sickLeave}"></p>
    </div>

</div>

</body>
</html>