<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Pracownicy</title>
</head>
<body>
<div>
    <h1 th:text="#{personnel.list}"></h1>
    <div th:each="personnel : ${personnelList}">
        <a th:href="@{/personnel/__${personnel.id}__}" th:text="${personnel.id}"></a>
        <p th:text="${personnel.firstName}"></p>
        <p th:text="${personnel.lastName}"></p>
        <p th:text="${personnel.position}"></p>
        <p th:text="${personnel.hireDate}"></p>
        <p th:text="${personnel.salary}"></p>
        <p th:text="${personnel.sickLeave}"></p>
    </div>

</div>

</body>
</html>